<p>There is a new Doctor Apointment request message from BlueForest Panama</p>

<ul>
  <li><b>Name:</b> <%= @message[:name] %></li>
  <li><b>Surname:</b> <%= @message[:surname] %></li>
  <li><b>Email:</b> <%= @message[:email] %></li>
  <li><b>Phone:</b> <%= @message[:phone] %></li>
  <li><b>Message:</b> <%= @message[:message] %></li>
</ul>
