<!-- if :order_edit params is present, it means that user is trying to change its contact info while ordering -->
<!-- in that case we want to render order breacrumb and render a specific form -->
<% if params[:order_edit] %>
  <div class="container orders-funnel">
    <%= render 'shared/order_breadcrumb' %>
    <h1>INFORMACIÓN DE CONTACTO</h1>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, coucou: 'yeah' })do |f| %>
      <div class="row">
        <div class="col-sm-6">
          <%= f.input :first_name, label: false, class: 'form-control' %>
        </div>
        <div class="col-sm-6">
          <%= f.input :last_name, label: false, class: 'form-control' %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <%= f.input :email, label: false, class: 'form-control' %>
        </div>
        <div class="col-sm-6">
          <%= f.input :phone, label: false, class: 'form-control' %>
        </div>
      </div>
<!--       this is a 'fake' (hidden) input that is not link to the user model
      it is just a flag to let the controller know that the user is trying to modify its profile while ordering
      (so that it is redirected to the correct page after) -->
      <%= f.input :order_edit, as: :fake, label: false, input_html: { value: true } %>

      <%= f.button :submit, 'SEGUIR', class: 'btn btn-blue w-100' %>
    <% end %>
  </div>
<% else %>
  <div class="login-container container my-5">
    <h2>ACTUALIZAR MIS DATOS</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <div class="row">
          <div class="col">
            <%= f.input :first_name, label: false %>
          </div>
          <div class="col">
            <%= f.input :last_name, label: false %>
          </div>
        </div>
        <%= f.input :email, required: true, autofocus: true, label: false %>
        <%= f.input :phone, label: false %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

<!--         for now you can't change your password...
        (because I disable the option to ask your current password to edit your account, you actually can't change your password anymore)
        please check: https://github.com/heartcombo/devise/wiki/How-To:-Allow-users-to-edit-their-account-without-providing-a-password -->

        <%#= f.input :password,
                    required: false,
                    input_html: { autocomplete: "new-password" }, label: 'Contraseña', placeholder: 'Dejar blanco si no cambia' %>
        <%#= f.input :password_confirmation,
                    required: false,
                    input_html: { autocomplete: "new-password" }, label: 'Confirmar contraseña', placeholder: 'Dejar blanco si no cambia' %>
<!--         <br>
        <hr> -->
        <%#= f.input :current_password,
                    hint: "Necesitamos su contraseña actual para confirmar sus cambios",
                    required: true,
                    input_html: { autocomplete: "current-password" }, label: 'Contraseña actual' %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Actualizar", class: 'btn btn-blue w-100' %>
      </div>
      <% end %>

      <p><%= link_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "¿Estas seguro?" }, method: :delete %></p>
    <% end %>
  </div>
