<div class="login-container container my-5">
  <h2>CREA TU CUENTA</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <div class="row">
        <div class="col">
          <%= f.input :first_name, label: false, placeholder: 'Nombre' %>
        </div>
        <div class="col">
          <%= f.input :last_name, label: false, placeholder: 'Apellido' %>
        </div>
      </div>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }, label: false, placeholder: 'Correo' %>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} carácteres minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" }, label: false, placeholder: 'Contraseña' %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" }, label: false, placeholder: 'Confirmar contraseña' %>
      <%= f.input :phone, label: false, placeholder: 'Teléfono' %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "CREA TU CUENTA", class: 'btn btn-blue w-100' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
