<div class="container orders-funnel">
  <%= render 'shared/order_breadcrumb' %>
  <h1>INFORMACIÓN DE CONTACTO</h1>
  <br>
  <p>
    Ya tienes una cuenta? Porfavor <b><%= link_to 'CONECTARSE', login_before_new_order_path %></b> o <b><%= link_to 'CREAR CUENTA', new_user_registration_path %></b>
  </p>
  <p>O continuar sin creación de cuenta:</p>
  <%= simple_form_for [@fake_user] do |f| %>
    <div class="row">
      <div class="col-sm-6">
        <%= f.input :first_name, label: false, placeholder: 'Nombre', class: 'form-control' %>
      </div>
      <div class="col-sm-6">
        <%= f.input :last_name, label: false, placeholder: 'Apellido', class: 'form-control' %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <%= f.input :email, label: false, placeholder: 'Email', class: 'form-control' %>
      </div>
      <div class="col-sm-6">
        <%= f.input :phone, label: false, placeholder: 'Teléfono', class: 'form-control' %>
      </div>
    </div>
    <%= f.button :submit, 'SEGUIR', class: 'btn btn-blue w-100' %>
  <% end %>
</div>


