<div id="footer">
  <div class="container">
    <%= link_to '#top-banner' do %>
      <%= image_tag 'logo-footer.svg', class: 'logo-footer' %>
    <% end %>
    <div class="footer-items">
      <div class="footer-item">
        <h5><%= link_to 'NOSOTROS', about_us_path %></h5>
        <p><%= link_to 'TÉRMINOS Y CONDICIONES', terms_and_conditions_path %></p>
        <p><%= link_to 'POLÍTICA DE PRIVACIDAD', privacy_policy_path %></p>
        <p><%= link_to 'VENTAS AL POR MAYOR', wholesales_path %></p>
        <p><%= link_to 'COVID 19', covid_19_path %></p>
      </div>
      <div class="footer-item">
        <h5>CONTÁCTANOS</h5>
        <p><a href="https://wa.me/+50760124433"><i class="fab fa-whatsapp"></i> POR WHATSAPP</a></p>
        <p><%= link_to 'PREGUNTAS FRECUENTES', faq_path %></p>
        <p><%= link_to 'CAMBIOS Y DEVOLUCIONES', returns_and_exchanges_path %></p>
      </div>
      <div class="footer-item">
        <h5>HORARIOS DE ENTREGA</h5>
        <p>LUNES A VIERNES 9:00 AM / 6.00 PM</p>
        <p>SABADOS 9:00 AM / 5:00 PM</p>
        <p><%= link_to 'ENVÍOS Y ÁREAS DE COBERTURA', shipping_path %></p>
      </div>
    </div>
    <div class="social">
      <div class="hide-under-768"></div>
      <div class="">
        <%= link_to "https://www.instagram.com/blueforest.panama/", target: "_blank" do %>
          <%= image_tag 'instagram.png' %>
        <% end %>
        <%#= image_tag 'facebook.png' %>
        <%#= image_tag 'twitter.png' %>
      </div>
      <div class="hide-under-768"></div>
    </div>
  </div>
</div>
