<div class="products" id='products'>
  <% @products.each do |product| %>
    <% if product.product_variations.length > 0 %>
      <div class="product">
        <!-- iterate over product photos, find the main photos -->
        <!-- take the first on of the main photos and break the iteration -->
        <% if !product.product_photos.empty? %>
          <% product.product_photos.each do |product_photo| %>
            <% if product_photo.main %>
              <%= cl_image_tag product_photo.photos[0].key, height: 400, crop: :fill %>
              <% break %>
            <% end %>
          <% end %>
        <% else %>
          <div class="product-photo-placeholder"></div>
        <% end %>
        <div class="product-grid-info-container">
          <div class="grid-symbol simple-flexbox"><%= inline_svg_tag('symbol.svg') %></div>
          <div class="cta-grid" data-controller="favorite">
            <!-- if there is only 1 product variation, show the option to add to cart from the home page directly -->
            <% if product.product_variations.length == 1 %>
              <% if product.product_variations.first.quantity > 0 %>
                <%= link_to line_items_path(variation_id: product.product_variations.first, quantity: 1, atc_from_grid: true, full_path: request.fullpath), method: 'post' do %>
                  <%= inline_svg_tag('cart.svg') %>
                <% end %>
              <% else %>
                <span>AGOTADO</span>
              <% end %>
            <% end %>
            <!-- if user is signed in, we need to check if the product is within its favorites -->
            <!-- if yes we show a 'full' like symbol, and the link will be to remove the product from its favorites -->
            <!-- if no, we show a 'stroked' like symbol, and the link will be to add the product to its favorites -->
            <div class="flex-grow-1">
              <% if user_signed_in? && (matching_product_favorite = @product_favorites.find { |product_favorite| product_favorite.product_id == product.id }) %>
                <span data-action='click->favorite#removeFavorite' data-target="favorite.toggle" data-favorite-id='<%= matching_product_favorite.id %>' data-product-id='<%= product.id %>'>
                  <%= inline_svg_tag('like.svg', class: 'liked', data: { target: 'favorite.icon' }) %>
                </span>
              <% else %>
                <span data-action='click->favorite#addFavorite' data-target="favorite.toggle" data-product-id='<%= product.id %>' >
                  <%= inline_svg_tag('like.svg', data: { target: 'favorite.icon' }) %>
                </span>
              <% end %>
            </div>
          </div>
          <div class="product-grid-info">
            <p class="product-title"><b><%= product.name.upcase %></b></p>
            <% price = nil %>
            <% discount_price = nil %>
            <% product.product_variations.each_with_index do |product_variation, i| %>
              <% if product_variation.color == product.main_color %>
                <% if !price %>
                  <% price = product_variation.price %>
                  <% discount_price = product_variation.discount_price if product_variation.discount_price %>
                <% elsif product_variation.price < price %>
                  <% price = product_variation.price %>
                  <% discount_price = product_variation.discount_price if product_variation.discount_price %>
                <% end %>
              <% end %>
            <% end %>
            <p class="product-price">
              <% if discount_price %>
                <span class="crossed-white"><%= number_to_currency(price, precision: 2) %></span> <%= number_to_currency(discount_price, precision: 2) %>
              <% elsif price %>
                <%= number_to_currency(price, precision: 2) %>
              <% else %>
                <!-- Just a security if for some reason price is still empty... -->
                <%= number_to_currency(product.product_variations.first.price, precision: 2) %>
              <% end %>
            </p>
            <%= link_to product_path(product), class: 'simple-flexbox product-hover' do %>
              <div>
                <h3><%= product.name.upcase %></h3>
                <p><%= product.short_description.upcase.truncate(50) if product.short_description %></p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
