<div id="sidebar-cart">
  <div class="sidebar-cart-header">
    <span class="cart-toggle"><%= image_tag 'flechas-02.png' %></span>
    <b>MI CARRITO</b>
  </div>
  <% if @current_cart.line_items.count > 0 %>
    <div class="padding-30 sidebar-cart-content">
      <div class="d-flex flex-column">
        <% total_quantity = 0 %>
        <% @current_cart.line_items.reverse.each do |line_item| %>
          <div class="cart-product d-flex align-items-center">
            <%= cl_image_tag line_item.product_variation.product.product_photos.first.photos.first.key, height: 100, width: 100, crop: :fill %>
            <div class="grow-1">
              <p>
                <b>
                  <%= link_to line_item.product_variation.product.name, product_path(line_item.product_variation.product.id) %>
                </b>
              </p>
              <p>Tamaño: <%= line_item.product_variation.size %></p>
              <p>
                <% if line_item.product_variation.discount_price %>
                  <span class="crossed">$<%= line_item.product_variation.price %></span>
                  <span>$<%= line_item.product_variation.discount_price %></span>
                <% else %>
                  $<%= line_item.product_variation.price %>
                <% end %>
              </p>
            </div>
            <div class="quantity-counter d-flex">
              <%= link_to "-", reduce_quantity_line_item_path(line_item), method: :post %>
              <span class="grow-1 text-center"><%= line_item.quantity %></span>
              <%= link_to "+", add_quantity_line_item_path(line_item), method: :post %>
            </div>
          </div>
          <% total_quantity += line_item.quantity %>
        <% end %>
      </div>
    </div>
    <div class="sidebar-cart-footer">
      <div class="text-right sidebar-cart-footer-top">
        <p><%= pluralize(total_quantity, 'producto') %></p>
        <p><b>Sub Total: $<%= @current_cart.sub_total %></b></p>
      </div>
      <div class="w-100 text-center">
        <% if user_signed_in? %>
          <%= link_to "ORDENAR", new_user_order_path(current_user), class: 'btn btn-blue w-100' %>
        <% else %>
          <%= link_to "ORDENAR", new_fake_user_path, class: 'btn btn-blue w-100' %>
        <% end %>
        <%= link_to "Ver carrito", cart_path(session[:cart_id]) %>
      </div>
    </div>
  <% else %>
    <div class="padding-30">
      <p>Carrito vacillo.</p>
      <%= link_to 'Ver productos', root_path(anchor: 'products') %></p>
    </div>
  <% end %>
</div>
