<div id="sidebar-cart">
  <div class="sidebar-cart-header">
    <span class="cart-toggle"><i class="fas fa-arrow-right"></i></span>
    <span>Mi Carrito</span>
  </div>
  <div class="sidebar-cart-content">
    <div class="sidebar-cart-products">
      <% @current_cart.product_variations.each do |variation| %>
        <div class="sidebar-cart-product">
          <img src="https://picsum.photos/50" alt="...">
          <b><%= variation.product.name %></b> | <%= variation.size %> | $<%= variation.price %>
        </div>
      <% end %>
    </div>
    <div class="sidebar-cart-total text-right my-3">
      <b>Sub-total: $<%= @current_cart.sub_total %></b>
    </div>
    <%= link_to "Ir a Pagar", new_order_path, class: 'btn btn-primary w-100' %><br>
    <div class="w-100 mt-3 text-center">
      <%= link_to "Ver carrito", cart_path(session[:cart_id]) %>
    </div>
  </div>
</div>
