<div class="container mt-5">
  <h1>Detalle de su orden</h1>
    <% total_quantity = 0 %>
    <% @order.line_items.each do |line_item| %>
      <div class="d-flex align-items-center bg-white p-3">
        <%= cl_image_tag line_item.product_variation.product.main_photo.key, height: 100, width: 100, crop: :fill %>
        <div>
          <p class="mb-0"><b><%= line_item.product_variation.product.name %></b></p>
          <p class="mb-0">Tamaño: <%= line_item.product_variation.size %></p>
          <p class="mb-0">Precio: $<%= line_item.product_variation.price %></p>
          <p class="mb-0">Candidad: <%= line_item.quantity %></p>
        </div>
      </div>
      <% total_quantity += line_item.quantity %>
    <% end %>
  <div class="text-right">
    <hr>
    <p><%= pluralize(total_quantity, 'producto') %></p>
    <p><b>Entrega Gratis</b></p>
    <p><b>Total:</b> $<%= @order.sub_total %></p>
  </div>

  <div class="">
    <h2>Informaciones de entrega</h2>
    <% if @order.fake_user %>
      <p><%= @order.fake_user.first_name %> <%= @order.fake_user.last_name %></p>
      <p><%= @order.fake_user.email %></p>
      <p><%= @order.fake_user.phone %></p>
      <p><%= @order.fake_user.address %></p>
    <% elsif @order.user %>
      <p><%= @order.user.first_name %> <%= @order.user.last_name %></p>
      <p><%= @order.user.email %></p>
      <p><%= @order.user.phone %></p>
      <p><%= @order.user.address %></p>
    <% end %>
  </div>
