<div class="container">
  <% if @cart.line_items.count > 0 %>
    <h1 class="mt-5">Mi Carrito</h1>
    <div class="d-flex mt-5 ">
      <div class="d-flex flex-column grow-1">
        <% total_quantity = 0 %>
        <% @cart.line_items.reverse.each do |line_item| %>
          <div class="cart-product d-flex align-items-center bg-white">
            <%= cl_image_tag line_item.product_variation.product.main_photo.key, height: 200, width: 200, crop: :fill %>
            <div>
              <p><b><%= line_item.product_variation.product.name %></b></p>
              <p>Tamaño: <%= line_item.product_variation.size %></p>
              <p>$<%= line_item.product_variation.price %></p>
              <div class="quantity-counter d-flex">
                <%= link_to "-", reduce_quantity_line_item_path(line_item), method: :post, remote: true %>
                <span class="grow-1 text-center"><%= line_item.quantity %></span>
                <%= link_to "+", add_quantity_line_item_path(line_item), method: :post, remote: true %>
              </div>
              <span class="remove-items">
                <%= link_to line_item_path(line_item), method: :delete do %>
                  <i class="fas fa-trash-alt"></i>
                <% end %>
              </span>
              <% total_quantity += line_item.quantity %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="cart-detail padding-30 ml-3">
        <h2>Resumen de Compra</h2>
        <hr>
        <p><%= pluralize(total_quantity, 'producto') %></p>
        <p>Sub Total: $<%= @cart.sub_total %></p>
        <p>Entrega: $<%= @cart.shipping %></p>
        <p>ITBMS (7%): $<%= (@cart.itbms) %></p>
        <p><b>TOTAL: $<%= @cart.total %></b></p>
        <p><%= link_to "Ir a Pagar", new_order_path, class: 'btn btn-primary w-100' %></p>
      </div>
    </div>
  <% else %>
    <p>Carrito vacillo. <%= link_to 'Ver productos', root_path(anchor: 'products') %></p>
  <% end %>
</div>

