<div class="container">
  <% if @cart.line_items.count > 0 %>
    <h1 class="mt-5">MI CARRITO</h1>
    <div id="cart">
      <div class="cart-products">
        <% total_quantity = 0 %>
        <% @cart.line_items.order(created_at: :asc).each do |line_item| %>
          <div class="cart-product d-flex align-items-center bg-white" data-line-item=<%= line_item.id %>>
            <% if line_item.photo_key %>
              <%= cl_image_tag line_item.photo_key, height: 150, width: 150, crop: :fill %>
            <% else %>
              <div class="product-photo-placeholder-small"></div>
            <% end %>
            <div class="cart-product-info">
              <p><b>
                <%= link_to line_item.product_variation.product.name, product_path(line_item.product_variation.product.id) %>
              </b></p>
              <% if line_item.product_variation.color %>
                <p>Color: <%= t(line_item.product_variation.color) %></p>
              <% end %>
              <p>Tamaño: <%= line_item.product_variation.size %></p>
              <p>
                <% if line_item.product_variation.discount_price %>
                  <span class="crossed"><%= number_to_currency(line_item.product_variation.price, precision: 2) %></span>
                  <span><%= number_to_currency(line_item.product_variation.discount_price, precision: 2) %></span>
                <% else %>
                  <%= number_to_currency(line_item.product_variation.price, precision: 2) %>
                <% end %>
              </p>
              <div class="quantity-counter d-flex" data-controller="counter">
                  <button data-action='click->counter#quantityTrigger' <%= 'disabled' if line_item.quantity == 1 %>>-</button>
                <span class="grow-1 text-center" data-target="counter.count" data-line-item=<%= line_item.id %>><%= line_item.quantity %></span>
                <button data-action='click->counter#quantityTrigger'>+</button>
                <span class="remove-items">
                  <button data-action='click->counter#removeProduct'><i class="far fa-trash-alt"></i></button>
                </span>
              </div>
              <% total_quantity += line_item.quantity %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="cart-detail padding-30">
        <h2>RESUMEN DE COMPRA</h2>
        <hr>
        <p class="total_items">
          <%= total_quantity %> <%= t('products', count: total_quantity) %>
        </p>
        <p>Sub Total: <span class="sub_total"><%= number_to_currency(@cart.sub_total, precision: 2) %></span></p>
        <p>Entrega:
          <% if @cart.shipping > 0 %>
            <span class="shipping"><%= number_to_currency(@cart.shipping, precision: 2) %></span>
          <% else %>
            <span class="shipping"><b>¡Envío gratuito!</b></span>
          <% end %>
        </p>
        <p>ITBMS (7%): <span class="itbms"><%= number_to_currency(@cart.itbms, precision: 2) %></span></p>
        <p><b>TOTAL: <span class="total"><%= number_to_currency(@cart.total, precision: 2) %></span></b></p>
        <% if user_signed_in? %>
          <p><%= link_to "Ordenar", new_user_order_path(current_user), class: 'btn btn-blue w-100' %></p>
        <% elsif params[:fake_user_id] %>
          <p><%= link_to "Finalizar Orden", new_fake_user_order_path(params[:fake_user_id]), class: 'btn btn-blue w-100' %></p>
        <% else %>
          <p><%= link_to "Ordenar", new_fake_user_path, class: 'btn btn-blue w-100' %></p>
        <% end %>
        <div class="cart-footer-bottom">
          <p class='text-center'>Todos los pagos se hacen contra entrega. Gracias por preferirnos.</p>
          <div class="payment-logos">
          <%= cl_image_tag 'https://res.cloudinary.com/blueforest/image/upload/v1591088125/payments-logo/1-visa_unvmtw.png', width: 50, crop: :fill %>
          <%= cl_image_tag 'https://res.cloudinary.com/blueforest/image/upload/v1591088122/payments-logo/2-mastercard_scrnh5.png', width: 50, crop: :fill %>
          <%= cl_image_tag 'https://res.cloudinary.com/blueforest/image/upload/v1591088123/payments-logo/3-clave_dzrpsj.png', width: 50, crop: :fill %>
          <%= cl_image_tag 'https://res.cloudinary.com/blueforest/image/upload/v1591088122/payments-logo/4-yappy_mzep5g.png', width: 50, crop: :fill %>
          <%= cl_image_tag 'https://res.cloudinary.com/blueforest/image/upload/v1591088122/payments-logo/5-ach_omk444.png', width: 50, crop: :fill %>
          <%= cl_image_tag 'https://res.cloudinary.com/blueforest/image/upload/v1591088122/payments-logo/6-cash_tl42zl.png', width: 50, crop: :fill %>
          </div>
        </div>
      </div>
    </div>
  <% else %>
  <div class="text-center my-5">
    <h2>Carrito vacillo</h2>
    <br>
    <%= link_to 'Ver productos', root_path(anchor: 'products'), class: 'btn btn-blue' %>
  </div>
  <% end %>
</div>
