<p>Hola <%= @user.first_name %>,</p>

El detalle de su pedido:

<ul>
  <% @order.line_items.each do |line_item| %>
    <li><%= line_item.product_variation.product.name %></li>
  <% end %>
</ul>

<p>Total items: <%= @order.total_items %></p>
<p>Sub total: <%= @order.sub_total %></p>
<p>Entrega: <%= @order.shipping %></p>
<p>ITBMS: <%= @order.itbms %></p>
<p>Total: <%= @order.total %></p>
