<div style="font-family: sans-serif; color: #33333A; padding: 0 30px 30px 30px;">
  <div style="text-align: center;">
    <%= image_tag 'logo-blue.png', width: '300px' %>
  </div>

  <h1 style="text-transform: uppercase; color: #0a1f8f; font-size: 24px; text-align: center">There is a New Order in BlueForest Panama</h1>

  <div style="margin-bottom: 30px">
    <p><b>Client Information:</b></p>
    <p><b>First Name:</b> <%= @user.first_name %></p>
    <p><b>Last Name:</b> <%= @user.last_name %></p>
    <p><b>Phone:</b> <%= @user.phone %></p>
    <p><b>Email:</b> <%= @user.email %></p>
    <br>
    <p><b>Client Address:</b></p>
    <p><b>Flat Number:</b> <%= @address.flat_number %></p>
    <p><b>Street:</b> <%= @address.street %></p>
    <p><b>Address Detail:</b> <%= @address.detail %></p>
    <p><b>District:</b> <%= @address.district %></p>
    <p><b>Corregimiento:</b> <%= @address.area %></p>
    <p><b>City:</b> <%= @address.city %></p>
    <p><a target='_blank' href="http://www.google.com/maps/place/<%= @address.latitude %>, <%= @address.longitude %>">Map Link</a></p>
  </div>

  <div>
    <p><b>Order Detail</b></p>
    <% @order.line_items.each do |line_item| %>
      <div style="display:flex; justify-content: flex-start; align-items: center; margin-bottom: 10px;">
        <div style="margin-right: 20px;">
          <% if line_item.photo_key %>
            <%= cl_image_tag line_item.photo_key, height: 150, width: 150, crop: :fill %>
          <% else %>
            <div class="product-photo-placeholder-small" style="
              height: 150px;
              width: 150px;
              background-color: #ECEFF1;
              /*background-image: url('symbol.svg');*/
              background-repeat: no-repeat;
              background-size: 20px;
              background-position: center;"></div>
          <% end %>
        </div>
        <div>
          <p style="margin: 0 0 5px 0;"><b><%= line_item.product_variation.product.name %></b></p>
          <% if line_item.product_variation.color != '' %>
            <p style="margin: 0 0 5px 0;">Color: <%= t(line_item.product_variation.color) %></p>
          <% end %>
          <p style="margin: 0 0 5px 0;">Tamaño: <%= line_item.product_variation.size %></p>
          <p style="margin: 0 0 5px 0;">$<%= line_item.product_variation.price %></p>
          <p style="margin: 0 0 5px 0;">Cantidad: <%= line_item.quantity %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div style="font-family: sans-serif; background-color: lightgray; color: #33333A; padding: 10px 30px;">
  <p>Cantidad de producto: <%= @order.total_items.to_i %></p>
  <p>Sub total: $<%= @order.sub_total %></p>
  <p>Manejo y envío:
    <% if @order.shipping > 0 %>
      $<%= @order.shipping %>
    <% else %>
      <b>¡Envío gratuito!</b>
    <% end %>
  </p>
  <p>ITBMS: $<%= @order.itbms %></p>
  <hr>
  <p><b>Total Orden: $<%= @order.total %></b></p>
</div>
