<div class="container orders-funnel">
<!--   show order breadcrumb only if user is modifying its address while ordering (not from dashboard) -->
  <% if params[:order_edit] %>
    <%= render 'shared/order_breadcrumb' %>
  <% end %>
  <h1 class="mt-5">DIRECCIÓN</h1>
  <br>
  <%= simple_form_for [ @user, @address ] do |f| %>
<!--     if user is modifying its address from dashboard (not while ordering),
    we need to align items in the center, cause divs are smallers -->
    <div class="shipping-container <%= 'align-items-center' if !params[:order_edit] %> " data-district='<%= @address.district %>' data-area='<%= @address.area %>'>
      <div class="grow-1 shipping-details">
        <% if params[:order_edit] %>
          <p><b>Nombre:</b> <%= @user.first_name %> <%= @user.last_name %></p>
          <p><b>Email:</b> <%= @user.email %></p>
          <p><b>Teléfono:</b> <%= @user.phone %></p>
        <% end %>
        <div>
          <%= f.input :street, label: false %>
          <%= f.input :flat_number, label: false %>
          <div class="row">
            <div class="col">
              <%= f.input :district, label: 'Distrito', collection: Address::DISTRICTS, selected: 1, input_html: { class: 'district' } %>
            </div>
            <div class="col">
              <%= f.input :area, label: 'Corregimiento', collection: Address::CORREGIMIENTOS[:panama], selected: 1, input_html: { class: 'areas', data: { district: 'panamá' } } %>
              <%= f.input :area, label: false, collection: Address::CORREGIMIENTOS[:san_miguelito], selected: 1, input_html: { class: 'areas', data: { district: 'san miguelito' } } %>
            </div>
          </div>
          <%= f.input :latitude, as: :hidden %>
          <%= f.input :longitude, as: :hidden %>
        </div>
        <div class="map <%= 'invalid' if params[:address] && params[:address][:longitude] = '' %>">
          <b class="map-title">ELEGIR PUNTO EN EL MAPA</b>
          <div id="create-address-map"
           style="width: 100%; height: 500px;"
           data-lat="<%= @address.latitude %>"
           data-lng="<%= @address.longitude %>"
           data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
        </div>
        <%= f.input :detail, label: false %>
        <%= f.input :city, label: false, input_html: { value: 'Ciudad de Panamá' }, readonly: true %>

  <!--   this is a 'fake' (hidden) input that is not link to the address model
        it is just a flag to let the controller know that the user is trying to modify its profile while ordering
        (so that it is redirected to the correct page after) -->
          <% if params[:order_edit] %>
            <%= f.input :order_edit, as: :fake, label: false, input_html: { value: true } %>
          <% end %>
      </div>
    </div>
    <% if params[:order_edit] %>
      <%= f.submit "REVISAR ANTES DE CONFIRMAR", class: "btn btn-blue w-100 shipping-cta" %>
    <% else %>
      <%= f.submit "CONFIRMAR", class: "btn btn-blue w-100 shipping-cta" %>
    <% end %>
  <% end %>
</div>
