<div class="container my-5" id='product-creation'>
  <h1>Create New Product</h1>
  <br>
  <%= form_tag product_creation_path, multipart: true do %>
    <div class="form-group">
      <%= label_tag  :name, "Name" %>
      <%= text_field_tag :name, nil, class: "form-control"  %>
    </div>
    <div class="form-group">
      <%= label_tag  :short_description, "Short Description" %>
      <%= text_field_tag :short_description, nil, class: "form-control"  %>
    </div>
    <div class="form-group">
      <%= label_tag  :long_description, "Long Description" %>
      <%= text_area_tag :long_description, nil, class: "form-control"  %>
    </div>
    <div class="form-group">
      <%= label_tag  :published, "Published" %>
      <%= check_box_tag :published, true, class: "form-control"  %>
    </div>
    <h5>Variations</h5>
    <div class="form-group text-center">
      <%= label_tag  :product_type_with_colors, "PRODUCT WITH COLOR VARIATIONS", class: 'btn btn-dark-gray small', id: 'product-with-color' %>
      <%= radio_button_tag 'product_type', 'with_colors', false, class: "display-none"  %>
      <%= label_tag  :product_type_without_colors, "PRODUCT WITHOUT COLOR VARIATIONS", class: 'btn btn-dark-gray small', id: 'product-without-color' %>
      <%= radio_button_tag 'product_type', 'without_colors', false, class: "display-none"  %>
    </div>
    <div class="product-without-color display-none">
      <div class="color-element" data-id='0'>
        <div class="size-variations">
          <div class="size-element">
            <div class="form-group">
              <%= label_tag  :size, "Size" %>
              <%= text_field_tag 'size_variations[][size]', nil, class: "form-control"  %>
              <small class="form-text text-muted">Put 'unique' for unique sizes</small>
            </div>
            <div class="form-group">
              <%= label_tag  :price, "Price" %>
              <%= number_field_tag 'size_variations[][price]', nil, step: 0.01, class: "form-control"  %>
            </div>
            <div class="form-group">
              <%= label_tag  :discount_price, "Discount Price" %>
              <%= number_field_tag 'size_variations[][discount_price]', nil,  step: 0.01, class: "form-control"  %>
            </div>
            <div class="form-group">
              <%= label_tag  :quantity, "Quantity" %>
              <%= text_field_tag 'size_variations[][quantity]', nil, class: "form-control"  %>
            </div>
          </div>
        </div>
        <span class="btn btn-dark-gray small add-element" data-id='0' data-type="size">Add Size</span>
        <div class="product-photos">
          <div class="photo-element">
            <div class="form-group">
              <%= label_tag  :photo, "Photo" %>
              <%= file_field_tag 'variation_photos[][photo]' %>
            </div>
            <div class="form-group">
              <%= label_tag  :main_photo, "Main Photo?" %>
              <%= check_box_tag "variation_photos[][main]" %>
            </div>
          </div>
        </div>
        <span class="btn btn-dark-gray small add-element" data-id='0' data-type="photo">Add Photo</span>
      </div>
    </div>

    <div class="product-with-color display-none">
      <div class="color-variations">
        <div class="color-element" data-id='1'>
          <div class="form-group">
            <%= select_tag "color_variations[][color]", raw(@colors), class: 'form-control'%>
          </div>
          <div class="size-variations">
            <div class="size-element">
              <div class="form-group">
                <%= label_tag  :size, "Size" %>
                <%= text_field_tag 'color_variations[][size_variations][][size]', nil, class: "form-control"  %>
                <small class="form-text text-muted">Put 'unique' for unique sizes</small>
              </div>
              <div class="form-group">
                <%= label_tag  :price, "Price" %>
                <%= number_field_tag 'color_variations[][size_variations][][price]', nil, step: 0.01, class: "form-control"  %>
              </div>
              <div class="form-group">
                <%= label_tag  :discount_price, "Discount Price" %>
                <%= number_field_tag 'color_variations[][size_variations][][discount_price]', nil, step: 0.01, class: "form-control"  %>
              </div>
              <div class="form-group">
                <%= label_tag  :quantity, "Quantity" %>
                <%= text_field_tag 'color_variations[][size_variations][][quantity]', nil, class: "form-control"  %>
              </div>
            </div>
          </div>
          <span class="btn btn-dark-gray small add-element" data-id='1' data-type='size'>Add Size</span>
          <div class="product-photos">
            <div class="photo-element">
              <div class="form-group">
                <%= label_tag  :photo, "Photo" %>
                <%= file_field_tag 'color_variations[][photos][]' %>
              </div>
            </div>
          </div>
          <span class="btn btn-dark-gray small add-element" data-id='1' data-type='photo'>Add Photo</span>
        </div>
      </div>
      <span class="btn btn-dark-gray small add-color" data-type='color'>Add Color</span>
    </div>
    <%= submit_tag 'CREATE PRODUCT', class: 'btn btn-blue w-100' %>
  <% end %>
</div>
