<%= render 'shared/carousel' %>

<div class="container product-grid-container">
  <div class="products">
    <% @products.each do |product| %>
      <% if product.product_variations.length > 0 %>
        <div class="product">
          <%= cl_image_tag product.main_photo.key, height: 400, crop: :fill %>
          <div class="product-grid-info-container">
            <%= image_tag 'brand-symbol.png' %>
            <div class="product-grid-info">
              <span class="grow-1"><%= product.name.upcase %></span>
              <!-- <span>$ --> <%#= product.product_variations.first.price %> <!--</span> -->
              <%= link_to '', product_path(product) %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


