
<% @products.each do |product| %>
  <ul>
    <li><%= product.name %></li>
    <li>$<%= product.price %></li>
    <li>
      <% product.categories.each do |category| %>
        <%= category.name %> >> <%= category.parent.name  %>
      <% end %>
    </li>
    <% product.product_variations.each do |variation| %>
      <li><%= variation.name %> : <%= variation.value %> >>> <%= variation.quantity %></li>
    <% end %>
  </ul>
<% end %>
