<%= render 'shared/carousel' %>
<%= render 'shared/features' %>

<div class="container mt-5">
  <hr>
  <h2 id="products" class="text-center mb-5">Nuestros productos</h2>
  <div class="products">
    <% @products.each do |product| %>
      <div class="product">
        <img src="https://picsum.photos/200" alt="">
        <div class="product-grid-info">
          <b><%= product.name %></b>
          <span class="grow-1">$ <%= product.product_variations.first.price %></span>
          <%= link_to '', product_path(product) %>
        </div>
      </div>
    <% end %>
  </div>
</div>


