<!-- render add to cart modal if params is present -->
<%= render 'shared/atc_modal' if params[:atc_modal] %>
<div class="container my-5">
  <h2 class="text-center mb-5"><%= @products.count %> Resultados de búsqueda para: <em><%= params[:query] %></em></h2>
  <% if @products.count > 0 %>
    <%= render 'shared/products_grid' %>
  <% else %>
    <p><%= link_to 'Ver todos los productos', root_path(anchor: 'products'), class: 'btn btn-blue' %></p>
  <% end %>
</div>


