<!-- add a warning message if product is not published -->
<!-- (only admins can see it, normal users would be redirected to hp if trying to access an unpublished product) -->
<% if !@product.published %>
  <div class='unpublished-warning'>THIS PRODUCT IS NOT PUBLISHED (only you can see this)</div>
<% end %>

<!-- render add to cart modal if params is present -->
<%= render 'shared/atc_modal' if params[:atc_modal] %>
<div class="container pdp-container">
  <div class="pdp d-flex">
    <div class="grow-1">
      <!-- make sure there is something in the @product_photos array, otherwise show placeholder -->
      <% if @product_photos[0] %>
        <div id="pdp-carousel" class="carousel slide">
          <div class="carousel-inner">
          <!-- iterate over all product_photos and for each, iterate over its photos -->
          <!-- data-color help to know at what color this photo is linked -->
          <!-- data-order help to determine the first photo (to put the boostrap 'active' class only on 1 slide) -->
          <!-- the other classes (carousel-item or display-none), will be added in JS regarding what is the selected color -->
              <% @product_photos.each_with_index do |product_photo, i| %>
                <% product_photo.photos.each_with_index do |photo, j| %>
                <!-- if there are several product_photos (it means there are several color variations) -->
                <!-- put the color in data-color, otherwise put 'unique' -->
                  <div class="" data-color="<%= @product_photos.length > 1 ? product_photo.color : 'unique' %>" data-order=<%= j+1 %> >
                    <%= cl_image_tag photo.key, height: 500, width: 500, crop: :fill, class: "product-image" %>
                  </div>
                <% end %>
              <% end %>
          </div>
          <a class="carousel-control-prev" href="#pdp-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#pdp-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      <% else %>
        <div class="product-photo-placeholder"></div>
      <% end %>
    </div>
    <div class="product-info">
      <h1><%= @product.name.upcase %></h1>
      <p><%= @product.short_description.upcase %></p>
      <p class="prices">
        <span class="price <%= "crossed" if @product_variations.first.discount_price %>" >$<%= @product_variations.first.price %></span>
        <span class="discount-price"><%= "$#{@product_variations.first.discount_price}" if @product_variations.first.discount_price %></span>
       </p>
      <%= form_tag line_items_path do %>
        <div class="variations">
          <div class="colors">
            <!-- if there are several colors, show the color swatch -->
            <% if @colors.length > 1 %>
              <!-- first put the main color and select it by default -->
              <%= radio_button_tag 'color', @colors.key('main'), true %>
              <%= label_tag "color_#{@colors.key('main')}", "", style: "background-color: #{ProductVariation::COLORS[@colors.key('main').to_sym]}" %>

              <!-- then iterate over other colors and show it (just skiping the main one that we already showed) -->
              <% @colors.each do |key, value| %>
                <% next if value == 'main' %>
                <%= radio_button_tag 'color', key, false %>
                <%= label_tag "color_#{key}", "", style: "background-color: #{ProductVariation::COLORS[key.to_sym]}" %>
              <% end %>
            <!-- if there is only 1 color, just put an (hidden) checked radio button with the id 'unique' -->
            <% else %>
              <%= radio_button_tag 'color', 'unique', true %>
            <% end %>
          </div>
          <div class="sizes">
            <% @product_variations.each_with_index do |variation, i| %>
              <!-- if size is not unique, show sizes -->
              <!-- (it still possible to have several 'unique' sizes, if there are several colors -->
              <!-- for example a product can have a 'red' (unique size), variation and a 'green' (unique size) variation -->
              <% if variation.size.downcase != 'unique' %>
                <!-- the data-price helps to dynamically change the displayed price (regarding the selected size) -->
                <!-- the data-color helps map size variations to the correct selected color -->
                <!-- the data-repeated-for list for what colors this size is repeated. It allows to remove repeated sizes from the front end, but only if the correct color is selected (otherwise repeated colors would disapear completely when it is not the correct color that is selected) -->
                <%= radio_button_tag :variation_id, variation.id, false, 'data-price': variation.price, 'data-discount-price': variation.discount_price, 'data-color': variation.color, 'data-repeated-for': @sizes[variation.size][:colors], 'data-quantity': variation.quantity %>
                <%= label_tag "variation_id_#{variation.id}", variation.size %>
              <!-- if size is 'unique' automatically check the first 'unique' size -->
              <!-- (because if size is unique, it doesn't show on frontend, and each time a color is selected, it will automatically check its unique size. But we need to check the first one by default for when the page load) -->
              <!-- + add a data-unique attribute to trigger specific js method -->
              <% else %>
                <%= radio_button_tag :variation_id, variation.id, i == 0, 'data-price': variation.price, 'data-discount-price': variation.discount_price, 'data-color': variation.color, 'data-unique': true %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="atc-container">
          <p class="size-selection-warning">Por favor seleccionar una talla</p>
          <%= button_tag type: "submit", class: "btn btn-yellow atc" do %>
            <span><%= image_tag 'cart.png' %></span>
            <span>COMPRAR</span>
          <% end %>
          <span class="atc-overlay"></span>
        </div>
      <% end %>
    </div>
  </div>
</div>
<section class="product-detail-container">
  <div class="container">
    <div class="product-detail">
      <%= raw @product.long_description %>
    </div>
  </div>
</section>
